<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Tamagotchi time!</title>
  </head>
  <body>
    <form method = "post" action="/tomagotchis">
      <label for="name">Name of your tamagotchi</label>
      <input type="text" name="name">
      <button type="submit">Enter here!</button>
    </form>

    <h1>Your pet created at {{ times }}</h1>
    <h1> Your pet name is: {{ name }} </h1>
    <h3>Your pet starts with...</h3>
    <ul>
      <li>Attention: {{ attention }}</li>
    <form method="post" action="/walk">
      <button>walk your {{ name }}</button>
    </form>
    <form method="post" action="/rest">
      <li>Rest: {{ rest }}</li>
            <button>put {{ name }} to bed</button>
    </form>
    <form method="post" action="/food">
      <li>Food: {{ food }}</li>
            <button>feed {{ name }}</button>
    </form>
    </ul>
  </body>
</html>
